/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.mar-side{
    margin-left: 20vw;
    margin-right: 20vw;
}

.flex{
    display: flex;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding-top: 15px;
}

header img{
    max-width: 100%;
    height: auto;
}

.button-round{
    background-color: white;
    color: #1D1F1B;
    padding: 16px 32px;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 30px;
    border: none;
}

.small-but{
    padding: 8px 16px;
}

.black-but{
    color: white;
    background-color: #1D1F1B
}

header button{
    font-size: 15px;
}

.box-height{
    height: 50vh;
}

.box-height2{
    height: 110vh;
}

.cont-height{
    height: 43.5vh;
}

nav{
    width: 60vw;
    justify-content: space-between;
    color: white;
}

.dash-black{
    border: dashed black;
}

.one-fifth{
    width: 20%;
}

.tree-fifth{
    width: 60%;
}

nav li{
    padding: 0px 20px;
}

ul{
    justify-content: center;
    list-style: none;
}

.flx-center{
    justify-content: center;
}

.ali-center{
    align-items: center;
}

.big-pic{
    color: white;
    width: 40%;
}

.text-center{
    text-align: center;
}

.pic h2, .pic p{
    align-items: flex-start;
}

.flx-col{
    flex-direction: column;
}

.big-pic h1{
    font-size: 50px;
}

.lpurp-but{
    background-color: #8EA1E1;
    color: white;
    font-size: 20px;
}
.big-pic p{
    margin: 25px;
    line-height: 1.5;
}

.big-pic .first{
    margin-right: 20px;
}


.bg-blu{
    background-color: #1E90FF;
}

.big-info img:nth-of-type(1){
    width: 100%;
}

.bg-pink{
    background-color: #FFC0CB;
}

.article{
    flex-wrap: wrap;
}

.info{
    width: 35%;
}

.pic{
    width: 25%;
    padding: 0px 30px;
    }

.pic h2{
    font-size: 40px;
}

.pic p{
    font-size: 20px;
    margin-top: 10px;
}


.bg-grey{
    background-color:  #F6F6F6;
}

.big-info{
    height: 87vh;
    width: 60%;
}

.bg-darkgrey{
    background-color: #23272A;
}

.long-pic, .long-info{
    margin-top: 80px;
    margin-bottom: 20px;
}

.upper-footer{
    align-items: flex-start;
}

.long-pic{
    width: 20%;
}

.long-info{
    width: 40%;
}

.text{
    border: dashed white;
    width: 25%;
}

.lower-footer{
    height: 10vh;
    justify-content: center;
    align-items: end;
}

.blu-box{
    height: 10vh;
    width: 60%;
    justify-content: space-between;
}



.big-info h2{
    font-size: 40px;
}

.big-info p{
    font-size: 20px;
    margin-top: 10px;
}

.big-info h3{
    font-size: 30px;
    line-height: 0.4;
    margin-bottom: 30px;
}

.long-pic h3{
    font-size: 30px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.language img{
    width: 25px;
    margin: 6px;
}

.lpurp{
    color: #8EA1E1;
}

.white{
    color: white;
}

.social img{
    width: 20px;
    margin: 10px;
}

.long-info div{
    color: white;
}

.long-info ul li{
    padding: 5px;
}

.long-info{
    justify-content: space-between;
}

.blu-box{
    border-top: 1px solid #8EA1E1;
}
